<input
        type="text"
        [(ngModel)]="searchText"
        (input)="onInput()"
        (focus)="showDropdown()"
        [placeholder]="isDropdownVisible() ? '' : 'Search city'"
/>

@if (isDropdownVisible() && searchText.length > 0) {
    <div class="dropdown">
        @if (loading) {
            <div class="city-not-found">Loading...</div>
        } @else {
            @if (items.length > 0) {
                @for (item of items; track item.name) {
                    <div class="city">
                        <div class="city-name" (click)="clickItem(item); hideDropdown();">
                            {{ item.name }}
                        </div>
                        <div class="city-description">
                            <span>{{ item.state || 'Not defined' }}</span> >
                            <span>{{ item.country || 'Not defined' }}</span>
                        </div>
                    </div>
                }
            } @else {
                <div class="city-not-found">Cities not found</div>
            }
        }
    </div>
}
