<div class="search">
    <input
            type="text"
            [formControl]="searchControl"
            (focus)="showDropdown()"
            [placeholder]="isDropdownVisible() ? '' : 'Search city'"
    />
<!--    defer, loading, placeholder-->
    @if (isDropdownVisible()) {
        <div class="dropdown">
            @if (loading) {
                <div class="item-not-found">Loading...</div>
            } @else {
                @if (items.length) {
                    @for (item of items; track item.name) {
                        <div class="item">
                            <div class="item-name" (click)="clickItem(item); hideDropdown();">
                                {{ item.name }}
                            </div>
                        </div>
                    }
                } @else {
                    <ng-container *ngTemplateOutlet="test"></ng-container>
                }
            }
        </div>
    }

</div>

<ng-template #test>
    <div class="item-not-found">Cities not found</div>
</ng-template>