body {
    font-family: 'IBMPlex', sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}

/*fonts*/
@font-face {
    font-family: 'IBMPlex';
    src: url('/assets/fonts/IBMPlexSans-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}