.table {
    background-color: #fafafa;
    width: 800px;
    border-radius: 20px;
    margin-top: 15px;
    color: #555555;
}

table {
    padding: 15px;
    width: 100%;
}

tr {
    display: flex;
}

th, td {
    flex: 1;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}