<div class="table">
    <table>
        <tr>
            @if (curTab === Tabs.OneDay) {
                <th>Day</th>
            }
            @if (curTab === Tabs.FiveDay) {
                <th>Time</th>
            }
            <th>Temperature</th>
            <th>Feels Like</th>
            <th>Weather</th>
            <th>Precipitation</th>
            <th>Cloudiness</th>
        </tr>
        @for (item of selectedCity()?.weather; track item.dayTime) {
            @if (
                (curTab === Tabs.OneDay && $index < 8) ||
                (curTab === Tabs.FiveDay && item.dayTime === "12:00")
                    ) {
                <tr>
                    <td>
                        {{ curTab == Tabs.OneDay ? item.dayTime : item.day}}
                    </td>
                    <td>
                        {{ item.temp | kelvinToCelcius}}°С
                    </td>
                    <td>
                        {{ item.feelsLike | kelvinToCelcius}}°С
                    </td>
                    <td>
                        <img
                                ngSrc="https://openweathermap.org/img/wn/{{item.icon}}@2x.png"
                                alt="Weather icon"
                                width="110" height="110">
                    </td>
                    <td>
                        {{ item.pop }}%
                    </td>
                    <td>
                        {{ item.clouds }}%
                    </td>
                </tr>
            }
        }
    </table>

</div>


